
<h3 mat-dialog-title> operation </h3>
<mat-form-field appearance="fill">
  <mat-label>Choose receptionist</mat-label>
  <mat-select [formControl]="receptionistVal" >
    <mat-option *ngFor="let people of data.receptionists" value="{{people.sid}}">{{people.name}}</mat-option>
  </mat-select>
</mat-form-field>
<h4 mat-dialog-title> reserved by: {{data.item.reservation_guest.name}} </h4>
<h4> in house guest: <span *ngFor="let guest of data.item.in_house_guests[data.innerIndex]"> {{guest.name}}</span></h4>
<div>
  <p>operation date:{{data.year}}-{{data.month}}-{{data.item.index + 1 + data.innerIndex}}</p>
  <p>check in/out operation:</p>
  <mat-radio-group aria-label="Select an option" style="margin-top: 20px" [(ngModel)]="checkOption">
    <mat-radio-button *ngFor = "let item of options; index as i"  value = "{{i}}" style="margin-right: 20px"> {{item}}</mat-radio-button>
  </mat-radio-group>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button  type="submit" (click)="submit()" style="margin-right: 20px" disabled="{{!receptionistVal.valid}}">Submit</button>
  <button mat-stroked-button  type="submit" mat-dialog-close style="margin-right: 20px">Close</button>
</div>

